.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.footer {
	margin-top: auto;
}

.question {
	font-size: 1.9rem;
	font-weight: normal;
}

.answer {
	margin: 1rem 0 2.5rem 0;
	font-size: 3rem;
}

@keyframes spinZ {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

.loading {
	animation: spinZ 10s infinite linear;
	align-self: center;
	justify-self: center;
	margin: auto;
	font-size: 7rem;
}

.error {
	font-size: 1.75rem;
	color: #ff8282;
}

.statsButton {
	border: none;
	background: var(--bg);
	color: var(--textColor);
	padding: 0.5rem 0.75rem;
	border-radius: 0.25rem;
}

.activeButton {
	background: var(--textColor);
	color: var(--bg);
}
