.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.footer {
	margin-top: auto;
	padding-top: 1.5rem;
}

.question {
	text-align: center;
	font-size: 1.9rem;
	font-weight: normal;
	margin-bottom: 2.5rem;
}

@keyframes spinZ {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

.loading {
	animation: spinZ 10s infinite linear;
	align-self: center;
	justify-self: center;
	margin: auto;
	font-size: 7rem;
}

.error {
	font-size: 1.75rem;
	color: #ff8282;
}

.buttons {
	text-align: center;
	margin-bottom: 1.5rem;
}

.buttons button:not(:last-child) {
	margin-right: 1rem;
}

.graph {
	margin-bottom: 2rem;
}
