.table {
	display: flex;
	margin-bottom: 2.5rem;
	justify-content: space-evenly;
}

.counter {
	text-align: center;
	font-size: 1.4rem;
}

.counter div:first-child {
	margin-bottom: 0.5rem;
}

.counter span {
	font-weight: bold;
}
