.Graph {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.Graph .footer {
	margin-top: auto;
}

.Graph .question {
	font-weight: normal;
}

.Graph .question:first-child {
	margin-top: 0;
}

.Graph .answer {
	margin: 2rem 0 3rem 0;
	font-size: 3.5rem;
}

@keyframes spinZ {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

.Graph .loading {
	animation: 10s linear spinZ;
	animation-iteration-count: infinite;
	align-self: center;
	justify-self: center;
	margin: auto;
	font-size: 7rem;
}

.Graph .error {
	font-size: 2rem;
	color: #ff8282;
}
