@import '~modern-normalize/modern-normalize.css';

@media (min-width: 576px) {
	body {
		font-size: 18px;
	}
}

:root {
	--bg: #282c35;
	--textColor: rgba(255, 255, 255, 0.88);
}

html,
body,
#__next {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;

	background-color: var(--bg);
	color: var(--textColor);
}

.js-focus-visible :focus:not([data-focus-visible-added]) {
	outline: none;
	box-shadow: none;
}
